[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rakshithshettyk
[access "refs/for/refs/*"]
	read = group user/rakshithshettyk
	push = group user/rakshithshettyk
	label-Code-Review = -2..+2 group user/rakshithshettyk
	label-Verified = -1..+1 group user/rakshithshettyk
	rebase = group user/rakshithshettyk
	removeReviewer = group user/rakshithshettyk
	submit = group user/rakshithshettyk
[access "refs/heads/*"]
	read = group user/rakshithshettyk
	create = group user/rakshithshettyk
	push = +force group user/rakshithshettyk
	pushMerge = group user/rakshithshettyk
[access "refs/tags/*"]
	push = group user/rakshithshettyk
	push = +force group user/rakshithshettyk
